{%- if use_alt -%}
  {%- paginate c.products by per_page -%}
    {% render 'collection-simple-grid',
      section: section,
      s: s,
      is_search: false,
      products_source: paginate.items,
      card_engine: card_engine,
      pagination_style: pagination_style,
      results_url: results_url
    %}

    {%- if s.show_pagination -%}
      <div data-qcm-pagination>
        {% render 'collection-simple-pagination',
          section: section,
          s: s,
          paginate: paginate,
          pagination_style: pagination_style
        %}
      </div>
    {%- endif -%}
  {%- endpaginate -%}

{%- elsif is_search -%}
  {%- paginate search.results by per_page -%}
    {% render 'collection-simple-grid',
      section: section,
      s: s,
      is_search: true,
      products_source: paginate.items,
      card_engine: card_engine,
      pagination_style: pagination_style,
      results_url: results_url
    %}

    {%- if s.show_pagination -%}
      <div data-qcm-pagination>
        {% render 'collection-simple-pagination',
          section: section,
          s: s,
          paginate: paginate,
          pagination_style: pagination_style
        %}
      </div>
    {%- endif -%}
  {%- endpaginate -%}

{%- else -%}
  {%- paginate collection.products by per_page -%}
    {% render 'collection-simple-grid',
      section: section,
      s: s,
      is_search: false,
      products_source: paginate.items,
      card_engine: card_engine,
      pagination_style: pagination_style,
      results_url: results_url
    %}

    {%- if s.show_pagination -%}
      <div data-qcm-pagination>
        {% render 'collection-simple-pagination',
          section: section,
          s: s,
          paginate: paginate,
          pagination_style: pagination_style
        %}
      </div>
    {%- endif -%}
  {%- endpaginate -%}
{%- endif -%}