{%- liquid
  assign has_items = false
  if products_source != blank and products_source.size > 0
    assign has_items = true
  endif
-%}

{%- if has_items -%}
  <div class="qcm__gridWrap">
    <div class="qcm__grid" data-qcm-grid aria-live="{% if pagination_style == 'infinite_scroll' %}polite{% else %}off{% endif %}">
      {%- for item in products_source -%}
        {%- liquid
          assign p = item
          if is_search
            if item.object_type != 'product'
              continue
            endif
            assign p = item
          endif
        -%}
        <div class="qcm__item" data-qcm-item>
          {%- if card_engine == 'modern_card' -%}
            {% render 'collection-simple-product-card', product: p, s: s, section: section %}
          {%- else -%}
            {% render 'product-card', product: p %}
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
{%- else -%}
  <div class="qcm__empty" role="status">
    <p class="qcm__emptyTitle">{{ s.empty_title }}</p>
    {%- if s.show_clear_all and results_url != blank -%}
      <a class="qcmBtn qcmBtn--ghost" href="{{ results_url }}" data-qcm-ajax-link>{{ s.clear_all_label }}</a>
    {%- endif -%}
  </div>
{%- endif -%}