{%- if settings.search_mode == 'popup' -%}
  {{ 'predictive-search.css' | asset_url | stylesheet_tag }}
  {{ 'search-popup.css' | asset_url | stylesheet_tag }}

  <div
    class="qtm-search-popup"
    id="QtmSearchPopup"
    hidden
    aria-hidden="true"
    data-qtm-search-popup
  >
    <div class="qtm-search-popup__overlay" data-search-popup-close></div>

    <div
      class="qtm-search-popup__dialog"
      role="dialog"
      aria-modal="true"
      aria-labelledby="QtmSearchPopupTitle"
      tabindex="-1"
    >
      <div class="qtm-search-popup__header">
        <h2 id="QtmSearchPopupTitle" class="qtm-search-popup__title">Search</h2>
        <button
          type="button"
          class="qtm-search-popup__close"
          aria-label="Close search"
          data-search-popup-close
        >
          ×
        </button>
      </div>

      <div class="qtm-search-popup__body">
        {% render 'predictive-search',
          context: 'popup',
          input_id: 'QtmPopupSearchInput',
          panel_id: 'QtmPopupSearchPanel',
          placeholder: settings.search_popup_placeholder
        %}
      </div>
    </div>
  </div>

  <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'search-popup.js' | asset_url }}" defer="defer"></script>
{%- endif -%}