{{ 'theme.css' | asset_url | stylesheet_tag }}

<h2>Section Start</h2>
<!-- 01 Classic Hero Banner Section -->
{% section 'hero-banner' %}

<h2>Section Start</h2>
<!-- 02 Split Banner Section -->
{% section 'split-banner' %}

<h2>Section Start</h2>
<!-- 03 Slideshow Banner Section -->
{% section 'slideshow-banner' %}

<h2>Section Start</h2>
<!-- 04 Grid Banner Section -->
{% section 'grid-banner' %}

<h2>Section Start</h2>
<!-- 05 Special Offers Banner Section -->
{% section 'special-offers-banner' %}

<h2>Section Start</h2>
<!-- 06 Boxed Content Banner Section -->
{% section 'boxed-content-banner' %}

<h2>Section Start</h2>
<!-- 07 Gradient Hero Banner Section -->
{% section 'gradient-hero-banner' %}

<h2>Section Start</h2>
<!-- 08 Video Banner Section -->
{% section 'video-hero-banner' %}

<h2>Section Start</h2>
<!-- 09 Featured Product Banner Section -->
{% section 'featured-product-hero-banner' %}

<h2>Section Start</h2>
<!-- 10 Web3 Banner Section -->
{% section 'web3-hero-banner' %}

<h2>Section Start</h2>
<!-- 11 Classic CTA Banner --> 
{% section 'classic-cta-banner' %}